body * {
    margin: 0;
    padding: 0;
  }


    section {
    page-break-after: always;
    break-after: page;
    }
    section:last-child {
    page-break-after: avoid;
    }

/**
  Fonts decleAred in manfest and fonts directory
-*/
    @font-face{
        font-family:hobo bt;
        font-style:normal;
        font-weight:400;
        src:local('HoboBT');
        src:font-url('HoboBT.woff')

    }


    @media screen{


      .row-section{

        border: 2px solid rgb(226, 226, 226);
        border-radius: 10px;
        width: 425px;
        height: 250px;

      }
      .card-section{
        padding-top: 30px;

      }
      .card-cover{
        text-align: center;
        color: red;
        font-size: medium;
        font-weight: 700;
        margin-bottom: 0;
        font-family: hobo bt;
      }
      .front-first-paragraph{
        font-size: 10px;
        text-align: center;
        margin-bottom: 0;
      }
      .front-second-paragraph{
          font-size: 8px;
          text-align: end;
          color: red;
          padding-right: 4rem;
          font-weight: bold;
          margin-bottom: 0;
      }
      .id-number-area{
        display: flex;
        justify-content: end;
        padding-right: 1rem;
        height: 30px;
        margin-bottom: 0;
      }
      .label {
        font-size: 11px;
        font-weight: 600;
        line-height: 10px;

      }
      .id-number-area span{
        margin-top: 3px;
        margin-left: 2px;
        margin-right: 3px;
      }

      .id-number-input {
        font-size: 11px;
        font-weight: 700;
        border: 2px solid rgb(187, 187, 187);
        padding-left: 4px;
        border-radius: 7px;
        height: 20px;
        margin-top: 4px;

      }

      .profile-row{
        display: flex;
        margin-top: 0;
      }

      .id-card-dp{
      flex-basis: 33.3%;


      }

       .id-photo {
        width: 100px;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
        display: block;
        box-shadow: 0px 0px 2px 1px #494949;
        border: 1px solid black;
        position: relative;

        top: -10px;
        margin-left: 15px;
      }
      .profile-fields{
        border: 1px solid black;

      }
      .profile-fields-entry{
        display: flex;

      }
      .profile-field-label .profile-field-value{
        margin: 0px;
      }
      .profile-fields{
        text-decoration: none;
        list-style: none;
        padding: 2px 0;
        border-radius: 12px;
        width: 280px;


      }
      .list-item{
        display: flex;
        height: 18px;
        margin: 0 0 0 10px;

      }
      .id-label{
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: smaller;

      }
      .id-value{
        margin-bottom: 0;
        margin-left: 1rem;
        text-transform: uppercase;
        font-size: small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .bold{
        font-weight: 800;
      }

      .footer-area{
        display: flex;
        font-size:xx-small;
        justify-content: space-around;
        height: 10px;
      }

      .signature-area{
        display: block;
      }
      .signature-photo{
        position: relative;
        top: -14px;
        right: -6em;
        height: 25px;
      }

      .on-behalf-signature{
        margin: 0;
        position: relative;
        top: -16px;
      }
    }



    @media print {

        /* Sets print view with media query */

        .header{
            display: none!important;
        }
        body > *:not(.main) {
            display: none;
            padding: 0!important;
          }
        .main > *:not(.main-section) {
            display: none;
          }
        .main-section > *:not(.right-column) {
        display: none;
        }
        .right-column > *:not(.article) {
            display: none;
            }



        .section{
            box-shadow: inset 0 0 0 1000px gold;
        }
        *{
            padding: 0!important;
            margin: 0!important;
        }
        .card-cover{

          text-align: center;
          color: red;
          font-size: 14px;
          font-weight: 750;
          margin-bottom: 0;
          margin-top: 4px;
          letter-spacing: 1px;
          font-family: 'Hobo BT', sans-serif;

        }
        .front-first-paragraph{
          font-size: 8px;
          text-align: center;
          margin-bottom: 0;
          font-weight: 750;
        }
        .front-second-paragraph{
            font-size: 7px;
            text-align: end;
            color: red;
            padding-right: 2rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        .id-number-area{
          display: flex;
          justify-content: end;
          padding-right: 2rem;
          height: 26px;
          margin-bottom: 0;
        }
        .label {
          font-size: 8px;
          font-weight: 700;
          line-height: 10px;

        }
        .id-number-area span{
          margin: 0 3 2 2;
        }

        .id-number-input {
          font-size: 9px;
          font-weight: 650;
          border: 1px solid rgb(0, 0, 0);
          padding-left: 2px;
          border-radius: 5px;
          height: 16px;
          margin-top: 4px;
          width: 100px;

        }

      .profile-row{
        display: flex;
        margin-top: 0;
      }

      .id-card-dp{
      flex-basis: 33.3%;
      }
       .id-photo {
        width: 80px;
        height: 105px;
        object-fit: cover;

        display: block;
        border: 1px  solid black;
        position: relative;

        top: -6px;
        margin-left: 6px;
      }
      .profile-fields{
        border: 1px solid rgb(110, 110, 110);

      }
      .profile-fields-entry{
        display: flex;

      }
      .profile-field-label .profile-field-value{
        margin: 0px;
      }
      .profile-fields{
        text-decoration: none;
        list-style: none;
        padding: 2px 0 0;
        border-radius: 12px;
        width: 220px;
        height: 90px;
        margin-top: 0;
        margin-bottom: 0;

      }
      .list-item{
        display: flex;

        margin: 0 0 0 10px;

      }
      .id-label{
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-small;
        font-weight: 650;
        font-size: 10px;

      }
      .id-value{
        margin-bottom: 0;
        margin-left: 1rem;
        text-transform: uppercase;
        font-size: x-small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 12px;
      }

      .bold{
        font-weight: 800;
      }
      .footer-area{
        display: flex;
        font-size:xx-small;
        justify-content: space-between;
        height: 10px;
        max-width: 290px;
        margin-left: 4px;
      }

      .signature-area{
        display: block;

      }
      .signature-photo{
        position: relative;
        top: -9px;
        right: -6em;
        height: 25px;
        margin-bottom: 0;
      }

      .on-behalf-signature{
        margin: 0;
        position: relative;
        top: -18px;
      }
      .holders-signature{
        position: relative;
        top: 15px;

      }

      }



  @page {
    margin: 0;
    padding: 0;

  @bottom-right {
      content: "Page " counter(pageNumber);
    }
  @top-right {
      content: none;
    }
    @top-left {
      content: none;
    }

    @bottom-right {
      content: none;
    }
    @bottom-left {
      content: none;
    }

  }


  .article{
    display: flex;
    flex-direction: column;



  }

