    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="row main-section dashboard">

        <!-- Left side columns -->
        <div class="col-lg-6 left-column">
          <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Sales <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Revenue <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>$3,264</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td>Brandon Jacob</td>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-6 right-column" >
            <!-- Revenue Card -->
              <article class = "article col-md-10 justify-content-center">
                <section class = "row-section">
                  <div class="section" >
                    <h5 class= "card-cover" >COMPREHENSIVE COVER</h5>
                    <h6 class= "front-first-paragraph" >
                        Always quote the membership number in all correspondence
                        with the SCHEME
                    </h6>
                    <p class= "front-second-paragraph" >
                        on claim forms always quote Membership Number <br> and date of birth of patient
                    </p>
                    <div class="id-number-area">
                      <p class="label">Membership <br> Number</p>
                      <span>&#10148;</span>

                      <input type="text" value="03-0118-97276-00" class="id-number-input">
                    </div>
                    <div class="profile-row">
                      <img src="img.jpg" class="id-photo">
                      <ul class="profile-fields">
                        <li class="list-item">
                          <h6 class="id-label">Surname  &#x3A;</h6>
                          <h6 class="id-value bold">Nyasulu</h6>
                        </li>
                        <li class="list-item">
                          <h6 class="id-label ">first name  &#x3A;</h6>
                          <h6 class="id-value bold">Jimmy</h6>
                        </li>
                        <li class="list-item">
                          <h6 class="id-label">Date of birth &#x3A;</h6>
                          <h6 class="id-value bold">02/02/1912</h6>
                        </li>
                        <li class="list-item">
                          <h6 class="id-label">Date Joined  &#x3A;</h6>
                          <h6 class="id-value">01/01/2018</h6>
                        </li>
                        <li class="list-item">
                          <h6 class="id-label">Date Of Expiry  &#x3A;</h6>
                          <h6 class="id-value">31/12/2028</h6>
                        </li>
                        <li class="list-item">
                          <h6 class="id-label">Location  &#x3A;</h6>
                          <h6 class="id-value">University Of Malawi</h6>
                        </li>
                      </ul>
                    </div>
                    <div class="footer-area">
                      <p class="holders-signature">HOLDERS SIGNATURE</p>
                      <div class="signature-area">
                        <img src="signature.jpg" class="signature-photo">
                        <p  class="on-behalf-signature" >
                            FOR AND ON BEHALF OF THE SCHEME
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
                <section class="row-section card">

                  <div class="section" >
                    <p>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
                      facilis vitae voluptatibus odio consequuntur optio placeat? Id, nam sequi
                      aut in dolorem dolores, laudantium, quasi totam ipsam aliquam quibusdam
                      velit.
                    </p>
                  </div>
                </section>
              </article>

              <button id="preview-card">Preview card</button>
                      <!-- End Revenue Card -->



        </div><!-- End Right side columns -->


    </div>
