<article class = "article col-md-10 justify-content-center">

  <section class = "row-section">
    <%= render partial:"members/card_front" , locals: { student: student, card: card   }  %>
  </section>

  <section class = "row-section">
    <%= render partial:"members/card_back" %>
  </section>

</article>
<button id="preview-card">Preview card</button>
