
<div class="section" >
    <div class="back-photo-area">
        <%= image_tag image_path('UnimaLogo.png')   , class: "card-back-photo" %>
    </div>
     <p  class="card-back-first-paragraph" >
        The University of Malawi Medical Scheme
    </p>
    <p  class="card-back-second-paragraph" >
        Membership card
    </p>
    <p  class="card-back-third-paragraph" >
        This card is a virtal part of the scheme's claiming system. Failure<br> to produce the card
        on demand may mean a delay in settling<br>your claims or refusal to provide servcies.
    </p>
    <p  class="card-back-fourth-paragraph" >
       A copy of rules of the scheme will be supplied on application. A copy is already<br> supplied to your
       college for reference. The rules and regulations of<br> the scheme are binding on members.
    </p>
    <p  class="card-back-fifth-paragraph" >
        For enquiries, please contact The Medical Scheme Director <br> P.O Box 278, Zomba, Malawi.
        Tel:+265 01524733 Fax: +265 0152666
    </p>
    <p  class="card-back-sixth-paragraph" >
        This card belongs to UNIMED. If found please return it to the above address or nearest police station
    </p>
</div>

