
<div class="section" >
    <div class="back-photo-area">
        <%= image_tag image_path('UnimaLogo.png')   , class: "card-back-photo" %>
    </div>
     <p  class="card-back-first-paragraph" >
        The University of Malawi Medical Scheme
    </p>
</div>

